:root {
    background: #FAFAFA;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wrapper-container {
    display: flex;
    flex-direction: row;
    border: solid 2px blue;
    margin-left: 2rem;
    margin-right: 2rem;
    max-height: 40rem;
}

.single-img-container {
    border:solid 2px red;
    padding-left: 1rem;
    padding-right: 1rem;
    /* max-height: 20rem; */
    object-fit: contain;
    width: 50%;
}

.single-item-details {
    border: solid 10px green;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 70%;
}

.img {
    object-fit: cover;
    width: 100%;
    max-height: 40rem;
}

.reviews {
    padding-top: 3rem;
    height: 500px;
}

.reviewlist{
    /* border: solid 1px red; */
    display: flex;
    padding-top: 10px;
    box-shadow: 0px 3px 1px #EDECEA, 0px -1px 1px #EDECEA;

    background: #FFFFFF;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 10px;
    padding-right: 10px
}

.reviewlist {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    width: 90%;
    margin-top: 10px;
}

.reviewlist-details {
    margin-left: 20px;
    margin-right: 20px;
    line-break: auto;
}

.delete-button {
    background-color: black;
    border-radius: 5px;
    width: 10rem;
    height: 3rem;
    color: white;
    font-size: 1.5rem;
    padding-right: 1rem;
}

.buttons i{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* color: white; */
    font-size: 50px;

}

.reviewbox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 50px;

    /* width: 80%; */
}

.review-header {
    border-top: solid 2px #d5d5d5;
    padding-top: 2.5em;
    grid-template-columns: 16rem 14rem auto;
    margin-bottom: 1.25rem;
    display: grid;
    /* height: 150px; */
}

.header-rating {
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: auto;
    /* font-size: 2.7rem; */
    text-align: left;
    padding-left: 2rem;

}

.header-avgrating {
    width: fit-content;
    font-size: 1.5rem;
    margin: none;
    /* padding-bottom: 1px; */
    padding: none;
}

.header-avgrating-text {
    margin: none;
}

.header-title {
    text-align: left;
    padding-left: 2rem;
    font-size: 3.5rem;
}

.create-review-btn-top {
    display: flex;
    grid-column: 3;
    grid-row-start: 2;
    /* text-align: center; */
    justify-content: right;
    align-items: center;
    margin-right: 2rem;
}

.create-review-btn {
    background-color: black;
    border-radius: 5px;
    width: 20rem;
    height: 5rem;
    color: white;
    font-size: 1.5rem;
}

.edit-review {
    display: flex;
    justify-content: right;
    margin-bottom: 5px;

}

.edit-review-btn {
    background-color: black;
    border-radius: 5px;
    width: 10rem;
    height: 3rem;
    color: white;
    font-size: 1.5rem;
    margin-left: 1rem;
}
