
.wrapper-container {
    display: flex;
    flex-direction: row;
    border: solid 2px blue;
    margin-left: 2rem;
    margin-right: 2rem;
    max-height: 40rem;
}

.single-img-container {
    border:solid 2px red;
    padding-left: 1rem;
    padding-right: 1rem;
    /* max-height: 20rem; */
    object-fit: contain;
    width: 50%;
}

.single-item-details {
    border: solid 10px green;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 70%;
}

.img {
    object-fit: cover;
    width: 100%;
    max-height: 40rem;
}
