.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    /* overflow: hidden; */
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-around; */
    /* position: absolute !important; */
    /* left: 0 !important;
    top: 0 !important; */
    width: 100%;
    /* border: red 1px solid; */
    /* border-bottom: 1px lightgray solid; */
    background: white;
}


.welcome-container {
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo-name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2rem;
    padding-right: 2rem;
}


button:hover {
    text-decoration: underline;
    color: black;
    cursor: pointer;
  }
