.create-review-btn {
    background-color: black;
    border-radius: 5px;
    width: 20rem;
    height: 5rem;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.create-review-container {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}



.input {
    /* border: 1px solid #ff383c; */
    border-radius: 1px;
    align-self: center;
}

.submit-btn {
    /* background-color: #ff383c; */
    /* color: white; */
    /* border: none; */
    color: white;
    background-color: black;
    border-radius: 5px;
    /* border-radius: 8px; */
    margin: 5px;
    cursor: pointer;
}
