.demo-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: none;
    border-radius: 5px;
    width: 70px;
    height: 25px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    margin: 2px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
