.demo-btn{
    width: 66px;
    height: 20px;
    /* background-color: #ff383c; */
    /* border:none; */
    /* border-radius: 8px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}
