.cart-title {


}

.cart-subtotal {
    display: flex;
    justify-content: right;
}

.cart-info-container {
    display: flex;
}

.cart-items {
    display: flex;
    flex-direction: column;
}



.delete-cart-button {
    display: flex;
    justify-content: right;
    align-items: right;
    background-color: black;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    /* padding-right: 1rem; */
}
