.cart-title {
    display: flex;
    justify-content: center;
    align-items: center;

    /* margin-left: 2rem; */


}

.cart-subtotal {
    display: flex;
    justify-content: right;
}

.cart-info-container {
    display: flex;
    margin: 2rem;
}

.cart-items {
    display: flex;
    flex-direction: column;

}

.single-cart-item {
    border-bottom: solid 1px lightgrey;
    width: 40rem;

}

.cart-info {
    display: flex;
    flex-direction: column;
    width: 40rem;
    /* justify-content: center; */
    /* align-items: left; */

}

.item-quantity{
    display: flex;
    /* color: red; */
    /* justify-content: flex-end; */
    /* align-items: center; */
}

.item-name {
    display: flex;
    justify-content: center;
}

.item-description {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    /* text-overflow: ellipsis; */
}

.item-price {
    display: flex;
    justify-content: flex-end;
    margin-right: 1.2rem;
}

/* .delete-cart-button {
    display: flex;
    justify-content: flex-end;
} */

.cart-img-container {
    display: flex;
    align-items: center;
}

.btn-div {
    display: flex;
    justify-content: flex-end;
}



.delete-cart-button {
    display: flex;
    /* justify-content: center; */
    /* align-items: right; */
    border: none;
    background-color: black;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    margin-right: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* padding-right: 1rem; */
}

.redirect-btn {
    display: flex;
    /* justify-content: center; */
    /* align-items: right; */
    border: none;
    background-color: black;
    border-radius: 5px;
    width: fit-content;
    height: fit-content;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    margin-left: .5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.delete-cart-button:hover {
    background-color: grey;
    text-decoration: none;
    border:none;
    color:white
}

.item-dropdown {
    display: flex;
    justify-content: flex-end;
    padding: none;
    margin: none
    /* align-items: center; */
}

.cart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: black;
    border-radius: 5px;
    width: 70px;
    height: 25px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
